{% extends 'base.html'%}
{% load static %}


{% block title %}Lista zadan{% endblock %}
{% block content %}
<div class="topnav">
  <a  href="{% url 'main:start' %}">lista projektów</a>
  <a  class="active" href="{% url 'main:zadania' nr_projektu %}">Zadania</a>

  <a href="{% url 'main:add_task' %}">dodaj zadanie</a>
<!--  <a href="#about">About</a>-->
</div>
<div>
Wybierz zadanie w celu edycji<br>
  {{ nr_projektu }}
  <br><br>
</div>
<table id="customers">
  <tr>
    <th class="lp">Lp</th>
    <th>Zadania</th>
    <th>Branch</th>
    <th>difficulty</th>
    <th>weight</th>
    <th>status</th>
  </tr>
  {% for zadanie in zadania %}
  <tr>
    <td class="lp">{{ zadanie.id }}</td>
    <td><a href="{% url 'main:check_task' zadanie.id %}">{{ zadanie.title }}</a></td>





    <td>{{ zadanie.get_branch_display }}</td>


    <td>{{ zadanie.get_level_display }}</td>
    <td>{{ zadanie.get_weight_display }}</td>
    <td>{{ zadanie.get_status_display }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}