{% extends 'base.html'%}
{% load static %}


{% block title %}główna{% endblock %}
{% block content %}
<div class="topnav">
  <a class="active" href="{% url 'main:start' %}">lista projektów</a>
  <a href="{% url 'main:add_projekt' %}">Dodaj projekt</a>

<!--  <a href="{% url 'main:details' %}">Contact</a>-->
<!--  <a href="#about">About</a>-->
</div>
<div>
Wybierz projekt
  <br><br>
</div>
<table id="customers">
  <tr>
    <th class="lp">Lp</th>
    <th>Project</th>
  </tr>

  {% for projekt in projects %}

  <tr>
    <td class="lp">{{ projekt.id}}</td>
    <td><a href="{%  url 'main:zadania' projekt.id %}">{{ projekt.project }}</a></td>

  </tr>
  {% endfor %}

</table>


{% endblock %}
